<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Registry" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="Unofficial.Sql.Server.Management.Objects" version="17.4.1" targetFramework="net461" />
</packages>